$picker_bg: #49475B;
$header_height: 60px;
$footer_height: 120px;
$vignette_height: 50px;

.player-picker {
  background: $picker_bg;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    min-height: $header_height;
    width: 100%;
    background: lighten($picker_bg, 20%);
    display: flex;
    justify-content: center;

    img {
      max-height: 35px;
      display: flex;
      align-self: center;
      -webkit-transform: rotate(180deg);
    }

    &:active {
      background: lighten($picker_bg, 40%);
    }
  }

  &__footer {
    &__left {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      margin-left: 10px;
    }

    &__right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
    }

    z-index: 10;
    height: $footer_height;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__list {
    overflow: auto;
    margin-top: 0px;
    padding-top: $vignette_height;
  }

  &__item {
    &--disabled {
      &:after {
        content: "";
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 150px;
        background-color: white;
        opacity: 0.5;
      }
    }

    margin: 12px;
    border: 10px solid white;
    border-radius: 150px;
    width: 150px;
    height: 150px;
    background-size: cover;
    cursor: pointer;
  }

  &--picking-left {
    .player-picker__item {
      &--selected {
        border: 10px solid lighten($red, 20%);
      }

      &--disabled {
        border: 10px solid lighten($blue, 20%);
      }
    }
  }

  &--picking-right {
    .player-picker__item {
      &--selected {
        border: 10px solid lighten($blue, 20%);
      }

      &--disabled {
        border: 10px solid lighten($red, 20%);
      }
    }
  }

  &__qrcode {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;

    width: 500px;
    height: 160px;

    border: 1px solid silver;
    border-radius: 5px;
    padding: 40px;
    margin: auto;

    h1 {
      float: right;
      color: black;
      font-family: 'Helvetica';
      font-size: 25px;
      margin-top: 0;
    }

    p {
      float: right;
      color: black;
      width: 310px;
      text-transform: none;
    }

    img {
      width: 165px;
    }

    &.hide {
      display: none;
    }

    &.show {
      display: auto;
    }
  }

}

