@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  font-family: $typeface;
  text-transform: uppercase;
}
