// :::::::::::::::: New styleguide colors ::::::::::::::::::::::::
$quiet: #e1f4f7;
$quiet-1: #c1e6eb;
$quiet-2: #fff3f5;
$quiet-3: #fee0e3;
$quiet-4: #fffcea;

$grey-light: #f6f6f6;
$grey-light-1: #eeeeee;
$grey-light-2: #e6e6e6;
$grey: #cccccc;
$grey-1: #bbbbbb;
$grey-2: #999999;
$grey-dark: #666666;
$grey-dark-1: #444444;
$grey-dark-2: #333333;

$red: #CD5C5C;
$blue: #5F9EA0;

// :::::::::::::::: MediaQuerys :::::::::::::::::::::::
// from Twitter Boostrap
$screen-xs: 480px;

// Small screen / tablet
$screen-sm: 768px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 992px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;

// :::::::::::::::: Typography ::::::::::::::::::::::::
$typeface: "Roboto Condensed", Arial, sans-serif;
$typeface_serif: Georgia, Times, serif;
$mospace_typeface: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// :::::::::::::::: Scoreboard ::::::::::::::::::::::::
$sb_padding: 1em;
$sb_padding_big_screen: 2em;
